@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Здравствуйте!</h1>
    <p>Вы сейчас на странице с 3-мя клиентскими частями тестового задания. Выберите один сверху и кликните!</p>
</div>