@{
    ViewData["Title"] = "Реал-тайм";
}
<div id="group" class="panel-group">
    <div id="stateLabel" class="alert">За последнюю минуту сообщений не было.</div>
</div>

@section Scripts
{
    <script src="~/js/socket.js"></script>
}