@model List<Server.Models.Message>
@{
    ViewData["Title"] = "За последнюю минуту";
}

<div id="group" class="panel-group">
</div>

@section Scripts
{
    <script src="~/js/lastminute.js"></script>
}